<!DOCTYPE>
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
		
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
		
		<style type="text/css">
			.none {
				display: none;
			}
			
			.upfile {
			    width: 120px;
				height: 80px;
			    margin-top: -10px;
			    margin-left: -10px;
		        cursor: pointer;
			}
		</style>
		
		<script>
		
		function file_onchange(self)
		{
			self.form.submit();
			setTimeout('parent.fetch_progress()', 1000);
		}
		
		</script>
	</head>
	
	<body>
		
		<form id="upload-form" action="{eval $this->mRouter->urlEx($this->C, 'upload')}"  method="POST" enctype="multipart/form-data" target="opFrame" >
											 	
		 	<input type="hidden" name="<?php echo ini_get("session.upload_progress.name"); ?>" value="test" />
		 	<input type="file" name="upfile" class="upfile" onChange="file_onchange(this)"/>

		 </form>
											 
		<iframe width="0" height="500" frameborder="500" name="opframe" class="none"></iframe>									 
	</body>
</html>
